<form>
    <label for="name">Name:</label><br>
    <input type="text" id="name" name="name" value="John Doe"><br>
    <label for="age">Age:</label><br>
    <input type="text" id="age" name="age" value="30"><br>
    <label for="email">Email:</label><br>
    <input type="text" id="email" name="email" value="John@gmail.com"><br>
    <!-- <button (click)="onSubmit()">submit</button> -->
</form> 
<button (click)="onSubmit()">submit</button>

<p>{{nameValue}}</p><p>{{ageValue}}</p><p>{{emailValue}}</p>