<table>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Email</th>
    </tr>
    <tr>
      <td>{{studentTableData[0].Name}}</td>
      <td>{{studentTableData[0].Age}}</td>
      <td>{{studentTableData[0].Email}}</td>
    </tr>
    <tr>
      <td>{{studentTableData[1].Name}}</td>
      <td>{{studentTableData[1].Age}}</td>
      <td>{{studentTableData[1].Email}}</td>
    </tr>
    <tr>
      <td>{{studentTableData[2].Name}}</td>
      <td>{{studentTableData[2].Age}}</td>
      <td>{{studentTableData[2].Email}}</td>
    </tr>
    <tr>
      <td>{{studentTableData[3].Name}}</td>
      <td>{{studentTableData[3].Age}}</td>
      <td>{{studentTableData[3].Email}}</td>
    </tr>
  </table>
  
